{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>KOBACAPITAL</title>
        <meta content="Financial Management System, Koba Capital" name="description" />
        <meta content="KobaCapital" name="author" />
        <link rel="shortcut icon" href="assets/images/favicon.ico">
    
           <!--Morris Chart CSS -->
        <link rel="stylesheet" href="../plugins/morris/morris.css">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/metismenu.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    </head>
<body>

    <!-- Begin page -->
    <div class="accountbg"></div>
    <div class="home-btn d-none d-sm-block">
            <a href="index.html" class="text-white"><i class="fas fa-home h2"></i></a>
        </div>
    <div class="wrapper-page">
            <div class="card card-pages shadow-none">

                <div class="card-body">
                    <!-- alerts -->
                    {% include 'partials/_alerts.html' %}
                    <div class="text-center m-t-0 m-b-15">
                            <a href="index.html" class="logo logo-admin"><img src="images/logo-dark.png" alt="" height="24"></a>
                    </div>
                    <h5 class="font-18 text-center">Sign in </h5>

                    <form class="form-horizontal m-t-30" action="{% url 'login' %}" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="col-12">
                                    <label>Username</label>
                                <input class="form-control" type="text" required="" placeholder="Username" name="username">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-12">
                                    <label>Password</label>
                                <input class="form-control" type="password" required="" placeholder="Password" name="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-12">
                                <div class="checkbox checkbox-primary">
                                        <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1"> Remember me</label>
                                              </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center m-t-20">
                            <div class="col-12">
                                <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Log In</button>
                            </div>
                        </div>

                        <div class="form-group row m-t-30 m-b-0">
                            <div class="col-sm-7">
                                <a href="pages-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                            </div>
                            
                        </div>
                    </form>
                </div>

            </div>
        </div>
    <!-- END wrapper -->

    <!-- jQuery  -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/metismenu.min.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'js/waves.min.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'js/app.js' %}"></script>
    
</body>
</html>